<div class="container">
	<div class="store-edit">
		<p id="notice"><%= notice %></p>
		<h2>Thank you for contacting us!</h2>
		<p>
		  <strong>Name:</strong>
		  <%= @contact.name %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @contact.email %>
		</p>

		<p>
		  <strong>Message:</strong>
		  <%= @contact.message %>
		</p>
		<p>
			<%= link_to 'Edit', edit_contact_path(@contact) %>
		</p>
	</div>
</div>