<div id="side-bar" class="static">
	<h2><a href="#hawaiians">TheHawaiians</a> <a href="#landscape">Landscape</a> <a href="#animal">InnerAnimal</a> <a href="#shapes">Shapes</a></h2>
</div>
<div id="gallery" class="store">
	<h1>Gallery</h1>
	<div class="container">
		<h2 id="hawaiians" class="hawaiians">The Hawaiians</h2>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd5.jpg' ) %>" alt="img5"/>
					<figcaption>
						<h2>Ocean<span>Blue</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/oceanblue">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd4floral.jpg' ) %>" alt="img4"/>
					<figcaption>
						<h2>Red<span>Floral</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/redfloral">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd7.jpg' ) %>" alt="img9"/>
					<figcaption>
						<h2>Purple<span>Haze</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/purplehaze">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
		<br/>
		<h2 id="landscape" class="hawaiians">Landscape</h2>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd2tiki.jpg' ) %>" alt="img2"/>
					<figcaption>
						<h2>The <span>Tiki</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/tiki">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd6.jpg' ) %>" alt="img6"/>
					<figcaption>
						<h2>The <span>Volcano</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/volcano">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
		<br/>
		<h2 id="animal" class="hawaiians">Inner Animal</h2>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd8parrot.jpg' ) %>" alt="img8"/>
					<figcaption>
						<h2>The <span>Parrot</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/parrot">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd3fish.jpg' ) %>" alt="img3"/>
					<figcaption>
						<h2>The <span>FISH</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/fish">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
		<br/>
		<h2 id="shapes" class="hawaiians">Shapes</h2>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd9triangle.jpg' ) %>" alt="img7"/>
					<figcaption>
						<h2>The <span>Triangle</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/triangle">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-duke">
					<img src="<%= asset_path( 'd1zigzag.jpg' ) %>" alt="img1"/>
					<figcaption>
						<h2>The <span>Zig-Zag</span></h2>
						<p>Duke is very bored. When he looks at the clear sky, he feels need to run.</p>
						<a href="/zigzag">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
	</div>
</div>