<div class="store">
	<h1>Gallery</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd1zigzag.jpg' ) %>">
			</div>
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd2tiki.jpg' ) %>">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd3fish.jpg' ) %>">
			</div>
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd4floral.jpg' ) %>">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd5.jpg' ) %>">
			</div>
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd6.jpg' ) %>">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd9triangle.jpg' ) %>">
			</div>
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd8parrot.jpg' ) %>">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<img class="gallery" src="<%= asset_path( 'd7.jpg' ) %>">
			</div>
		</div>
	</div>
</div>